Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

AuthenticationMethods publickey
AuthorizedKeysFile /home/%u/.ssh/authorized_keys
PubkeyAuthentication yes
PasswordAuthentication no

# Limited access
DenyUsers root
PermitRootLogin no
PermitEmptyPasswords no
X11Forwarding no
AllowTcpForwarding no

# Force sftp and chroot jail
Subsystem sftp internal-sftp
ForceCommand internal-sftp
ChrootDirectory %h

# Option to change SSH's Port
Port 2222

# Enable this for more logs
LogLevel VERBOSE
